
body{
  background-image:url(/~khalidgobin/tablequickedit/blurredbgimage1.jpg);
}

.page-header{
  text-align: center;

}

.container{
  width:100%;
  opacity:0.8;
}
.blockquote{
  font-size: 20px;
}

.well{
  height:80px;
  opacity:0.8;
}
th{

  text-align: center;
}
td{

  text-align: center;
}

#myModal, #myModalrec{
  opacity:0.95;
}
.modal-lg{
  width:100%;
}
